<p-card header="Registrar Usuário">
  <ng-template pTemplate="body">
    <form [formGroup]="loginForm" (ngSubmit)="registrar()">
      <div class="p-fluid">
        <label for="email">E-mail</label>
        <input id="email" type="text" pInputText formControlName="email" />

        <label for="password">Senha</label>
        <input id="password" type="password" pInputText formControlName="password" />

        <button pButton type="submit" label="Entrar"></button>
      </div>
    </form>
  </ng-template>
</p-card>
